/* applies to anything of class "example-class-selector" */
body {
    background-color: #000033;
}

.main {
    background-color: #404040;
    width: 100%;
}


.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #8382BF;
}

.friend {
    width: 300px;
}

.bar {
background-color: #000033;
position: fixed;
bottom: 25px;
width: 100%;
height:25px;
}

.bar table {
    background-color: #000033;
  border-collapse: collapse;
  border-spacing: 10px;
  position: relative;
  width: 100%;

}

.bar tr {
    background-color: #000033;
}

